<!DOCTYPE html>
@model IEnumerable<WebApplication3.Models.Trip>


<div class="container">
   
    <div class="row">
      <div class="col-md-12">
          <h1>Welcome to the world trips page</h1>
          <a asp-controller="Home" asp-action="Trips" class="btn btn-lg btn-success">View Trips</a>
      </div>
    </div>
</div>

