
@{
    ViewBag.Title = "ShowFilterPage";
}


<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>
<h2>ShowFilterPage</h2>
<div class="container">
    @using (Html.BeginForm("FetchData", "Home", FormMethod.Post))
    {

        <div class="row" style="padding-bottom:1em;border:1px solid">
            <div class="col-md-6">Minimum Experience in months</div>
            <div class="col-md-6"><input type="text" name="minExp" id="minExp" /></div>
        </div>
        <div class="row" style="padding-bottom:1em;border:1px solid" >
            <div class="col-md-6">Maximum Experience in months</div>
            <div class="col-md-6"><input type="text" name="maxExp" id="maxExp" /></div>
        </div>

        <div class="row" style="padding-bottom:1em;border:1px solid">
            <div class="col-md-6">Department</div>
            @Html.DropDownList("ddlDropDownList", (SelectList)ViewBag.DeptList, "Select a Dept", new { @name = "ddlDropDownList" })
        </div>
        
        <div class="row" style="text-align:center">
            <input type="submit" class="btn-primary" value="FetchDetails" />
        </div>
    }
   
   </div>

